<h1> About this site  and MERN stack </h1>
<p> This site was made to showcase my talents. It houses my portfolio, and it by itself is part of that </p>

<h3> React </h3>
<p> ReactJS is used here for all of the dynamic elements, and the few often reused elements, like the Navigation Bar. It's written in JSX, and compiled with Babel.
A good example of this is the chat box. It makes calls back and forth, updates automatically, and even has dynamic styling. You can check it out<a href="/p/chat"> here </a> </p>
