<body> 
<!--Resume stuff goes here, make it prettier later-->
<h1> Riley Kippes' Website </h1> 
<h3> A site to showcase my talents </h3>
<p> 
This website exists solely to show that I can make use of all aspects of the MERN.

This project is hosted at (insert github repo here). It's a MERN stack webserver, hosted on AWS.
<br>
MERN stands for MongoDB Express React Node, and this page makes use of all of them. Go on, click around. 
<br>
I suggest starting with the <a href="/p/">portfolio</a>, and the <a href="/p/aboutSite">about page</a>. 
</p>
</body>
