<body> 
<!--Resume stuff goes here, make it prettier later-->
<!--<div id="navbar"> Navbar </div>-->
<h1> Riley Kippes </h1> 
<h3> A full stack software developer </h3>
<p> 
This project is hosted at (insert github repo here). It's a MERN stack webserver, hosted on AWS.
<br>
MERN stands for MongoDB Express React Node, and this page makes use of all of them. Go on, click around. 
</p>
 <!--Gets overwritten by json.js-->
<div id="json_container">A</div>
<script src="json.js"></script>
<!--<script src="navbar.js"></script>-->
</body>
