<!--Resume stuff goes here, make it prettier later-->
<h1 class="text-center"> A Website without much content</h1>
<h3 class="text-center"> A site to showcase various frameworks </h3>
<div class="mx-0 px-auto d-flex justify-content-center">
    <p class="d-inline-block">
        This website exists solely to show that I can make use of all aspects of the MERN.

        This project's repository can be found at https://github.com/rileyKippes/mern.
        <br>
        MERN stands for MongoDB Express React Node, and this page makes use of all of them. Go on, click around.
        <br>
        I suggest starting with the <a href="/p/">portfolio</a>, and the <a href="/p/aboutSite">about page</a>.
    </p>
</div>