<div>
    <!-- I am not a lawyer. -->
    <!-- This privacy policy was copied from https://www.privacypolicies.com/generic/ -->
    <!-- We then modified it since we don't have emails, ads, nor data for sale. -->
    <h3>Information that is gathered from visitors</h3>

    In common with other websites, log files are stored on the web server saving details such as the visitor's IP
    address, browser type, referring page and time of visit.

    Cookies may be used to remember that you're logged in

    Where registration is required, a username will be stored on the server, along with a hashed password and a randomly generated color

    <h3>How the Information is used </h3>

    The information is used to enhance the vistor's experience when using the website to display personalised content

    We do not collect E-mail addresses.

    <h3>Visitor Options</h3>

    You may be able to block cookies via your browser settings but this may prevent you from access to certain features
    of the website, such as logging in.

    <h3>Cookies</h3>
    Cookies are small digital signature files that are stored by your web browser that allow your preferences to be
    recorded when visiting the website. Also they may be used to track your return visits to the website.

</div>