* {
 	background-color:#202020;
	color:#AAAAAA;
}

table,tr,td,th {
	border: solid 1px;
	border-collapse: collapse;
}

h1, h3 {
	text-align:center;
}

#navbar {
	position: fixed;
	margin: 0px;
	display: block;
	top:0;
	left:0;
	height: 20px;
	width: 100%;
	border-bottom: solid 1px;
	background-color: #000;
	min-width: auto;
}

#login_box{
	position: fixed;
	padding: 5px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: solid 1px #AAA;
	background-color: #000;
	display: flex;
	flex-direction: column;
}

#login_box * {
	padding: 2px;
	background-color: #000;
	text-align: center;
}

#username,#password {
	width: 250px;
}

label {
	display: inline-block;
	width: 100px;
}

#not_login_box {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	min-height: 50px;
	top: 10%;
	border: solid 1px;
}
