* {
 	
	color:#AAAAAA;
	
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

#main_div_container {
	background-color:#101010;
	height: 100%;
	width: 100%;
	margin-top: 20px;
	z-index: 0;
}

#main_div {
	background-color:#202020;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 75%;
	min-width: 600px; 
	margin: auto;
	padding: 5px;
	height: 100%;
	z-index: 1;
}

table,tr,td,th {
	border: solid 1px;
	border-collapse: collapse;
}

h1, h2, h3 {
	text-align:center;
}


.vert_list {
	padding: 5px;
	border: solid 1px #AAA;
	background-color: #000;
	display: flex;
	flex-direction: column;
}

#login_box {
	position: fixed;
	background-color: #000;
	padding: 5px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.list_item {
	padding: 2px;
	background-color: #000;
	text-align: center;
}

#username,#password {
	width: 250px;
}

label {
	display: inline-block;
	width: 100px;
}

#not_login_box {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	min-height: 50px;
	top: 10%;
	border: solid 1px;
}

/** Chat CSS **/

#chat_div {
	padding-top:25px;
	width: 75%;
	min-width:250px;
}

#post_chat_btn {
	width: 5%;
	max-width: 30px;
	min-width: 17px;
}

#comment_input {
	width: 95%;
}

#chat_box {
	max-height:750px;
}

#chat_box, #chat_box > * {
	color: black;
	background-color: lightgray;
}

/** End Chat CSS **/ 

.comment {
	border-collapse: collapse;
	border-bottom: solid 1px;
	border-left: solid 3px;
	margin: 0;
}

a:hover {
	background-color: #000;
}

a {
	padding-left: 4px;
	padding-right: 4px;
}



#errorMessage {
	background-color: darkred;
	border: solid 1px;
	border-color: black;
	padding: 3px;
}


/** Navbar **/

#navbar {
	position: fixed;
	margin: 0px;
	display: block;
	top:0;
	left:0;
	height: 20px;
	width: 100%;
	border-bottom: solid 1px;
	background-color: #111;
	min-width: auto;
	z-index: 2;
}


#navbar_container {
	background-color: #111;
	margin-left: 25%;
	margin-right: 25%;
}

.navbar_item {
	background-color: #050505;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 2px;
	padding-right: 2px;
	min-width: 200px;
	position: relative;
	display: inline-block;
}

.navbar_item button{
	background-color: #111;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: none;
}

.navbar_item button:hover{
	background-color: #000;
	color: #eee;
}

.dropdown {
	background-color: #050505;
	position: relative;
	display: inline-block;
	
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #111;
	width: 100%;
	border-bottom: solid 1px;
	border-left: solid 1px;
	border-right: solid 1px;
	margin-top:3px;
}

.dropitem {
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: auto;
	z-index: 2;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropItem:hover .dropbtn {
	background-color: #000;
	color: #eee;	
}
