<h1> About this site  and MERN stack </h1>
<p> This site was made to showcase my talents. It houses my portfolio, and it by itself is part of that </p>

<h3> React </h3>
<p> ReactJS is used here for all of the dynamic elements, and the few often reused elements, like the Navigation Bar. It's written in JSX, and compiled with Babel.
A good example of this is the chat box. It makes calls back and forth, updates automatically, and even has dynamic styling. You can check it out<a href="/p/chat"> here </a> </p>

<h3> Chat </h3>
<p> I have made a chatbox that has all the typical chatbox features. 
You can get the last 15 comments, post a new comment, and every comment has dynamic styling in order to make seeing who said what much easier. It pulls the color from the logged in user session. </p>

<h3> User accounts </h3>
<p> There is a account system in place. You can register an account, log in to it, log out, and view the account details. As a bonus, all passwords are hashed and salted. </p>
