<h1> My Portfolio </h1>
<a href="/p/aboutSite"> About This Site </a>
<a href="/p/chat"> Colorful Chat Box </a>
<p> This Chat Box retrieves data from mongodb, and posts to mongodb. It is an older, simpler feature. </p>
<a href="/p/messages"> Direct Messages </a>
<p> Direct Messages requires login, and only lets you view messages to you. It's not very pretty, but it is functional, and now features tabs. It makes use of passport to grab usernames. </p>
<a href="/p/Calculator"> Calculator </a>
<p> The Calculator is an engine displacement calcualtor, and makes use of React's 1-way data binding. </p>